{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-flow"
    ],
    "plugins": [
        "@babel/plugin-transform-strict-mode",
        "@babel/plugin-transform-runtime",
        "babel-plugin-transform-class-properties",
        "@babel/plugin-proposal-export-namespace-from",
        "@babel/plugin-proposal-throw-expressions",
        "@babel/plugin-syntax-dynamic-import",
        // warning: create extra files in folder - "__delete_and_no_commit__" !!
        [
            "file-loader",
            {
                "name": "file/[name]-[md5:hash:hex:7].[ext]",
                "extensions": [
                    "png",
                    "jpg",
                    "jpeg",
                    "gif",
                    "svg"
                ],
                "publicPath": "/static",
                "outputPath": "__delete_and_no_commit__",
                "context": "",
                "limit": 1
            }
        ],
        // user for mode other plugin's settings, see webpack
        [
            "css-modules-transform",
            {
                "generateScopedName": "[hash:6]",
                "extensions": [
                    ".scss"
                ]
            }
        ]
    ],
    "env": {
        "development": {
            "plugins": [
//                [
//                    "@babel/plugin-proposal-decorators",
//                    {
//                        "legacy": true
//                    }
//                ],
                [
                    "babel-plugin-flow-runtime",
                    {
                        "assert": true,
                        "annotate": true
                    }
                ]
            ]
        },
        "production": {
            "plugins": []
        }
    }
}
