{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-flow"
    ],
    "plugins": [
        "@babel/plugin-transform-strict-mode",
        "@babel/plugin-transform-runtime",
        "babel-plugin-transform-class-properties",
        "@babel/plugin-proposal-export-namespace-from",
        "@babel/plugin-proposal-throw-expressions",
        "@babel/plugin-syntax-dynamic-import"
    ],
    "env": {
        "development": {
            "plugins": [
                // warning: create extra files in folder - ".no-commit" !!
                [
                    "file-loader",
                    {
                        "name": "asset/[name]-[md5:hash:hex:7].[ext]",
                        "extensions": [
                            "png",
                            "jpg",
                            "jpeg",
                            "gif",
                            "svg"
                        ],
                        "publicPath": "/static",
                        "outputPath": ".no-commit",
                        "context": "",
                        "limit": 1
                    }
                ],
                // user for mode other plugin's settings, see webpack
                [
                    "css-modules-transform",
                    {
                        "generateScopedName": "[hash:6]",
                        "extensions": [
                            ".scss"
                        ]
                    }
                ],
//                [
//                    "@babel/plugin-proposal-decorators",
//                    {
//                        "legacy": true
//                    }
//                ],
                [
                    "babel-plugin-flow-runtime",
                    {
                        "assert": true,
                        "annotate": true
                    }
                ]
            ]
        },
        "production": {
            "plugins": [
                // warning: create extra files in folder - ".no-commit" !!
                [
                    "file-loader",
                    {
                        "name": "asset/[name]-[md5:hash:hex:7].[ext]",
                        "extensions": [
                            "png",
                            "jpg",
                            "jpeg",
                            "gif",
                            "svg"
                        ],
                        "publicPath": "/static",
                        "outputPath": ".no-commit",
                        "context": "",
                        "limit": 1
                    }
                ],
                // user for mode other plugin's settings, see webpack
                [
                    "css-modules-transform",
                    {
                        "generateScopedName": "[hash:6]",
                        "extensions": [
                            ".scss"
                        ]
                    }
                ]
//                [
//                    "@babel/plugin-proposal-decorators",
//                    {
//                        "legacy": true
//                    }
//                ]
//                [
//                    "babel-plugin-flow-runtime",
//                    {
//                        "assert": true,
//                        "annotate": true
//                    }
//                ]
            ]
        }
    }
}
